@model AnyoneForTennis.Models.SpecialOfferEmailModel
@{
    Layout = null; 
}

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Subject</title>
</head>
<body>
    <h1>@Model.Subject</h1>
    <p>@Model.Body</p>
</body>
</html>