@model Coach

<h1>Coach Details</h1>

<div>
    <h3>Coach Information</h3>
    <p><strong>Name:</strong> @Model.FirstName @Model.LastName</p>
    <p><strong>Biography:</strong> @Model.Biography</p>
</div>
